<div>
  <img src="assets/img/header1.png">
</div>

<div>
  <br> <br> <br>
  <h2><strong>CURSOS</strong></h2>
</div>
<div>
  <div class="cursos">
    <br> <br>

    <div class="opcion">
      <h2> Salón A | Matemática </h2>
      <button [routerLink]="['/courses', 1]">Acceder</button>
    </div>

    <br> <br>

    <div class="opcion">
      <h2> Salón D | Trigonometría </h2>
      <button [routerLink]="['/courses', 2]">Acceder</button>
    </div>

    <br> <br>
    <div class="opcion">
      <h2> Salón D | Física </h2>
      <button [routerLink]="['/courses', 3]">Acceder</button>
    </div>
  </div>
  <!-- <nav>
      <a mat-button [routerLink]="'/ACCEDER'">Evaluaciones</a>
    </nav> -->
</div>
