.container {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  padding: 30px 15px;
  text-align: center;
}

mat-card-title {
  margin-top: 25px !important;
}

mat-card-content {
  padding: 0 20px;
  margin-top: 25px;
}

mat-form-field {
  display: block;
}

button[type="submit"] {
  width: 100%;
}

mat-card-actions {
  display: block;
  margin: 0 auto;
}
