
div.personal-data{
  margin-left: 20px;
  color: gray;
}
a{
  background-color:#486284 ;
  color: white;
  justify-self: center;
}

.datos {
  margin: 30px;
}

.datos-personales, .datos-contacto, .datos-seguridad {
  margin-bottom: 20px;
}

.datos-personales span, .datos-contacto span, .datos-seguridad span {
  font-weight: bold;
}
